@model Capa.Core.VistaModelo.UsuariosVistaModelo
@{
    ViewBag.Title = "Valor";
}

    <span>@Model.Id </span>
    <span>@Model.Nombre </span>
    <span>@Model.Paterno </span>
    <span>@Model.Materno </span>
    <span>@Model.Contrasenia </span>
    <span>@Model.TipoUsuario </span>
    <span>@Model.Matricula </span>


